body {
	color: red;
	background-color: black;
	font-family: 돋움;
	font-size: 12px;
}

a {
	color: gold;
	text-decoration: none;
}

a:hover {
	color: silver;
	text-decoration: underline;
}
