<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
						http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
	version="3.1">
  
  	<filter>
  		<filter-name>encodingFilter</filter-name>
  		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  		<init-param>
  			<param-name>encoding</param-name>
  			<param-value>UTF-8</param-value>
  		</init-param>
  	</filter>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name> <!-- spring은 실행하면 제일 처음 dispatcherServlet을 실행 -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern> <!-- /myapp/ 생략, /*도 가능. /만 있으면 클라이언트가 어떠한 요청을 해도 class가 실행됨 -->
	</servlet-mapping>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern> <!-- 필터는 /만으로는 안 됨. *가 반드시 들어가야 함, 이류는 모름  -->
	</filter-mapping>
	
	<!-- tomcat이 connection pool을 가지는 경우
	<resource-ref>
 		<description>Oracle Datasource example</description>
 		<res-ref-name>jdbc/orcl</res-ref-name>
 		<res-type>javax.sql.DataSource</res-type>
 		<res-auth>Container</res-auth>
	</resource-ref>
	-->
</web-app>